@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 39% 11%;
    --foreground: 0 0% 98%;
    --card: 222 39% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 222 39% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 311 65% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 269 89% 58%;
    --secondary-foreground: 0 0% 98%;
    --tertiary: 242 65% 56%;
    --tertiary-foreground: 0 0% 98%;
    --muted: 222 39% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 34 92% 50%;
    --accent-foreground: 222 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 39% 20%;
    --input: 222 39% 20%;
    --ring: 311 65% 55%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 39% 11%;
    --foreground: 0 0% 98%;
    --card: 222 39% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 222 39% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 311 65% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 269 89% 58%;
    --secondary-foreground: 0 0% 98%;
    --tertiary: 242 65% 56%;
    --tertiary-foreground: 0 0% 98%;
    --muted: 222 39% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 34 92% 50%;
    --accent-foreground: 222 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 39% 20%;
    --input: 222 39% 20%;
    --ring: 311 65% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
